#tickets li {
  padding-bottom: 10px;
}

#attributes {
  @extend .table;
  @extend .table-condensed;
  width: 65%;

  th {
    width: 35%;
  }

  tr:first-child {
    td, th {
      border-top: 0;
    }
  }

  td, th {
    line-height: 24px !important;
  }
}

blockquote.comment p {
  font-size: 14px;
}

.state {
  @extend .label;
  font-size: 12px;
  padding: 0.3em 0.6em;
  display: inline-block;
}